<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory - importante -->

  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/main.css">
  
  <!-- Bootstrap versions
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
  
  <!-- additional project css goes here-->
  <link rel="stylesheet" href="/assets/css/stylesheet.css" type="text/css" charset="utf-8" /> 
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet"> 
  <link rel="stylesheet" href="/assets/css/particles.css"> 
  <link rel="stylesheet" href="assets/css/etiam_nav.css">
  <link rel="stylesheet" href="assets/css/etiam.css">
  <script src="ejs.js"></script>
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!--div class="space_bg"></div-->

  <!--
    Do relatório: as sessões são:
    *  lista das instalações da agência, 
    * lista dos astronautas, 
    * dados de eclipses lunares e solares 
    * astronautas que andaram no espaço. 

  -->

  <%- include('../partials/menu') -%>

  <section id="home" class="section container-fluid full_height">
    <header class="home_header">
      <h1>NASA &nbsp Facts</h1>
      <p>Uma coleção de fatos interessantes sobre a maior <br> companhia espacial do mundo.</p>
      <hr class="pink_dash_separator">
    </header>
    <nav class="container text-center home_nav" role="navigation">

      <div class="row">
        <div class="home_col col-sm">
          <a class="home_nav_link" href="#astronauts">
            Astronautas
          </a>
        </div>
        <div class="home_col col-sm">
          <a class="home_nav_link" href="#facilities">
            Instalações
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <a class="home_nav_link" href="#eclipses">
            Eclipses
          </a>
        </div>
        <div class="col-sm">
          <a class="home_nav_link" href="#walks">
            Caminhadas no Espaço
          </a>
        </div>
      </div>

    </nav>
  </section>

  <section id="astronauts" class="section container-fluid full_height" >
      <%- include('../partials/astronautas') -%>
  </section>
  
  <section id="facilities" class="full_height">
      <%- include('../partials/facilities') -%>
  </section>

  <section id="eclipses" class="full_height">
      <%- include('../partials/eclipses') -%>
  </section>

  <section id="walks" class="full_height">
      <%- include('../partials/walks') -%>
  </section>



  <!-- SCRIPTS QUE SÓ DEUS E O CRIADOR DO FRAMEWORK SABEM PQ TAO AI -->


  <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js" defer="defer"></script> 
  <script src="assets/js/particles.js" defer="defer"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  <!-- additional project scripts go here -->
  
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/etiam.js"></script>
  <!-- stats.js lib --> 
  <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  
</body>

</html>
